<h1>Welcome to The RCC Cycling Tracker</h1>
<h4 style="color:red;">Documenting the Rapha Cycle Club Members Recent Rides and Distances</h4>

<h3><a href="/signup">Sign Up</a></h3>
<h3><a href="/login">Log In</a></h3>