<h1>Create a new RCC Cycling Tracker Account</h1>

<form method="POST" action="/signup">

  <p>Username: <input type="text" name="username" id="user_name" placeholder="Username"></p>
  <p>Email: <input type="text" name="email" id="user_email" placeholder="Email Address"></p>
  <p>Password: <input type="password" name="password" id="user_password" placeholder="Password"></p>

  
  <input type="submit" value="Create New Account">
</form>