<h1><%=@cyclist.username.capitalize%>'s Recent Rides:</h1>
<% @cyclist.rides.each do |ride| %>
<div style="margin:20px">

  <p><%=ride.title%>:</p>
  <p style="color:red"><%=ride.distance%> miles</p>
</div>
<% end %>