<h2>Add a ride</h2>

<form action="/tweets" method="POST">
  <p>Title your ride: <input type="text" name="title"></p>
  <p>How many miles was your ride? <input type="integer" name="distance"></p>
  <input type="submit" value="submit">
</form>